body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  background-color: #333
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-li {
  font-family: 'Dosis', sans-serif;
    float: right;
}
.navbar-li <h1 {
    font-family: 'Nanum Brush Script', cursive;
    float: left;
    color: white;
    padding: 0px;
    margin: 0px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #0585D0;
}

.active {
    background-color: #4CAF50;
}

.create-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(6, 1fr);
  height: 800px;
  width: auto
}

.trail-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  width: auto;
}

.route-page-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(6, 1fr);
  height: 800px;
  width: auto;
}

.route-page-map-container {
  grid-column-start: 2;
   grid-column-end: 6;
   grid-row-start: 2;
   grid-row-end: 5;
   border: 1px solid black;
   text-align: center;
   /* height: 40vmin; */
   display: inline-block;
   background-color: #0585D0;
   box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important

}

.route-page-description-container {
  grid-column-start: 2;
   grid-column-end: 6;
   grid-row-start: 5;
   grid-row-end: 7;
   border: 1px solid black;
   text-align: center;
   color: white;
   display: inline-block;
   background-color: #0585D0;
   box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important

}

#update-saved-route-btn {
  background-color: black; /* Green */
  height: 40px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.signin-component {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(6, 1fr);
  height: 800px;
  width: auto;
  text-align: center
}

.signin-component > h1 {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 200%;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2
}

.landing-page-component {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(6, 1fr);
  height: 800px;
  width: auto;
  text-align: center;
}

.landing-page-title-box {
  grid-column-start: 2;
   grid-column-end: 6;
   grid-row-start: 2;
   grid-row-end: 5;
   background-color: black;
   opacity: 0.5;
   color: white;
   text-align: center;
   vertical-align: center;
   padding: 80px;
}

#h1-small-landing {
  font-family: 'Roboto', cursive;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

#h1-large-landing {
  font-family: 'Roboto', cursive;
  font-size: 100px;
  padding: 0px;
  margin: 0px;
}



.profile-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  /* grid-template-rows: repeat(5, 1fr); */
  width: auto
}

.profile-saved-routes-container {
  grid-column-start: 2;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: auto;

}

#profile-description {
  grid-column-start: 2;
  grid-column-end: 6;
  background-color: #0585D0;
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.map-container {
  grid-column-start: 2;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 7;
   border: 1px solid black;
   text-align: center;
   /* height: 40vmin; */
   display: inline-block;
   background-color: #0585D0;
   box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.create-route-form {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 7;
  border: 1px solid black;
  text-align: center;
  /* height: 40vmin; */
  display: inline-block;
  background-color: white;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.signin-form {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  opacity: 0.5;
  border: 1px solid black;
  text-align: center;
  /* height: 40vmin; */
  display: inline-block;
  margin: 10px;
  background-color: black;
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.signin-form:hover {
  opacity: 0.8;
}

.signup-form {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 6;
  opacity: 0.5;
  border: 1px solid black;
  text-align: center;
  /* height: 40vmin; */
  display: inline-block;
  margin: 10px;
  background-color: black;
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.signup-form:hover {
  opacity: 0.8;
}

.page-title-bar {
  grid-column: 1 / span 6;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  background-image: url("cropped-runner-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccc;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.page-title-bar > h1 {
  margin-top: 50px;
  color: white;
  opacity: 1.0;
  font-family: 'Roboto', cursive;
  font-size: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.search-city-form {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  background-color: #0585D0;
  opacity: 0.8;
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}

.search-form {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  background-color: #0585D0;
  opacity: 0.8;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}


.route-card-container {
  grid-column-start: 2;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: auto;
}


.route-card {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #0585D0;
  height: 400px;
  opacity: 0.5;
  margin: 10px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  color: white;
}

.route-card:hover {
  opacity: 0.8;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}


.route-card-map-container {
  /* grid-column-start: 1;
  grid-column-end: 2; */
  grid-column: span 4;
   text-align: center;
   height: 200px;
   display: inline-block;
}

.route-card-description-container {
  grid-column: span 4;
  height: 200px;
   text-align: center;
   /* height: 40vmin; */
   display: inline-block;
   overflow: auto;
   margin-left: 10px
}

.save-heart {
  /* grid-column-start: 4; */
  position: relative;
  left: 85%;
  top: -9%;
  float: right;
  text-align: top;
  margin-bottom: 30px;
  margin-right: 15px;
  font-size: 30px;
  color: grey;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.save-heart:hover {
  font-size: 40px;
  margin-top: 2px;
  margin-right: 5px;
}


input[type=text], select {
    width: 60%;
    font-family: 'Dosis', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 60%;
    font-family: 'Dosis', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 60%;
    padding: 12px 20px;
    font-family: 'Dosis', sans-serif;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    font-family: 'Dosis', sans-serif;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.video-background {
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  width: 118%
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    width: 40%;
    color: black;
    background-color: #fefefe;
    margin-left: 500px;
    margin-right: 150px;
    margin-top: 300px;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid #888;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
